@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                SuccessIcon="fa fa-check"
                WarningIcon="fa fa-exclamation"
                ShowProgressBar="true">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>
@Body
